    <div class="container">    
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                <div class="panel-heading">
                  <div class="panel-title">My Links</div>

</div>
</div>



<p class="short_url"><%= link_to @link.display_slug, @link.display_slug %></p>
<ul class="click_time">
  <li><span class="time"><%= time_ago_in_words(@link.created_at) %> ago</span></li>
</ul>
<p class="long_url"><%= link_to @link.given_url, @link.given_url %></p>
</div>
</div>


</div> 

<%= link_to 'Back', root_path, :class => "btn btn-default" %>

