<p style= "height:150px;">
<div class="col-sm-push-1">
<h1>Share Short Link</h1>
</div>
<%= render 'form', inbox: @inbox %>
<div class="actions col-xs-12 col-sm-offset-4">
<%= link_to 'Back', root_path, class: "btn btn-default" %>
</div>
</p>